CREATE HTML
- Commit 

CREATE CSS
Commit after each one is complete 

Create mobile version 
    Style:
    - image and title container
    - search bar (without the suggestions)
    - 

- Commit 
- Create desktop version 
- Commit

