* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    letter-spacing: 0.5px;
    font-weight: 300;
}

:root {
    --light-brown: #e0d8d4;
    --slightly-darker-brown: #463335;
    --darkest-brown: #412c2a;
    --white: white;
}

.display-none {
    display: none;
}

body {
    background-color: var(--light-brown);
}

button {
    border: none;
}

.main-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin-top: 3.75rem;
}

/* @!IMAGE AND HEADER SECTION */
.mobile-image {
    width: 100%;
}

/* * targeting the div containing the header and the headcer itself*/
.header,
.image-and-search-bar-cont {
    display: grid;
    justify-items: center;
    position: relative;
    text-align: center;
}

/* * "div element that wraps heading */
.heading-cont {
    top: 25%;
    position: absolute;
    width: 50%;
}

/* * "SCRABBLE DICTIONARY" HEADING  */
.heading {
    font-weight: 700;
    color: var(--white);
    font-size: clamp(1.25rem, 5.5vw, 3.45rem);
}

/* *<form> element*/
.search-bar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 52%;
    background-color: var(--white);
    width: clamp(8.75rem, 40%, 24.375rem);
    height: clamp(2.5rem, 10%, 3.125rem);
}

/* *input element */
.search-box {
    padding-left: clamp(0.9375rem, 10%, 1.25rem);
    width: 100%;
    height: 100%;
    border: none;
    color: var(--slightly-darker-brown);
}

.search-box,
.search-box::placeholder {
    font-size: clamp(0.625rem, 2.2vw, 0.875rem);
}

.search-box:focus {
    outline: none;
}

/* *brown background around grey button */
.search-button {
    background-color: var(--light-brown);
    width: 25%;
    max-width: 2.8125rem;
    height: 100%;
}

/* todo: style later */
::-webkit-search-cancel-button {
    display: none;
}

/* @! WORD RESULT (IN DICTIONARY OR NOT IN DICTIONARY) */

/* *holds all info about the word (the word itself, phonetic, audio, definitions, etc) */
.word-info-container {
    width: 85%;
}

/* *in dictionary and not in dictionary <article> containers */
.not-in-dict-cont,
.in-dict-cont {
    text-align: center;
    width: 65%;
    max-width: 14.375rem;
}

.not-in-dict-pic,
.in-dict-pic {
    width: 100%;
    margin-bottom: 1.875rem;
}

/* *targets the paragraphs below the pictures of the results */
.results-par {
    color: var(--slightly-darker-brown);
    font-size: 1.2rem;
}

.in-dict-par {
    margin-bottom: 1.0625rem;
}

.points {
    font-size: 1.125rem;
}

/* @!WORD INFORMATION (DEFINITION, SYNONYMS AND ANTONYMS) */

.word-and-audio-cont {
    display: flex;
    justify-content: space-between;
    max-width: 35.9375rem;
    margin-bottom: 46px;
}

.word {
    font-weight: 600;
    font-size: 2.5rem;
}

.phonetic {
    color: var(--slightly-darker-brown);
    font-size: 1rem;
    margin-top: 0.5rem;
}

.audio-btn {
    background: none;
    align-self: flex-start;
    margin-top: 0.4375rem;
}

/* @! WORD INFO */

/* todo: 2. make into a grid container */
.word-details-cont {
    /* border: 1px solid; */
}

/* todo: 1. immediately apply to all 3 */

/* !CONTAINERS */
.detail-cont {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.34);
    border-left: 0.5625rem solid #463335;
    padding: 1.8125rem;
    margin-bottom: 2rem;
}

.detail-header {
    font-weight: 400;
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
    color: var(--darkest-brown);
}

.part-of-speech,
.definition,
.example {
    font-size: 0.8rem;
}

ul {
    margin-top: 0.8rem;
    margin-left: 1rem;
}

li {
    margin-bottom: 3px;
    font-size: 13.5px;
}

.part-of-speech {
    margin-bottom: 0.9375rem;
}

.definition {
    margin-bottom: 0.875rem;
}

.example {
    font-family: "Poppins", sans-serif;
    font-style: italic;
    color: var(--slightly-darker-brown);
}

/* *searched word in the example */
b {
    font-weight: 400;
}

/* 1000px */
@media (min-width: 62.5rem) {
    /* * "div element that wraps heading */
    .heading-cont {
        top: 30%;
    }

    /* * "SCRABBLE DICTIONARY" HEADING  */
    .heading {
        font-size: 2.4rem;
    }

    /* *<form> element*/

    .search-bar {
        top: 55%;
        height: 3.4375rem;
    }

    /* *input element */

    .search-box,
    .search-box::placeholder {
        font-size: 1rem;
    }

    /* *brown background around grey button */
    .search-button {
        max-width: 3.75rem;
    }
}
